
{% block body %}
<!DOCTYPE html>

    <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
        <h2>Music</h2>
        <p>Music:</p>
        <audio controls="controls" autoplay="autoplay"></audio>
        <ul>

    <p></p>
 

    <p></p>

        {%for i in range(count)%}  
        
            {{ list1[i] }}
            {{". "}}
           <b><a href="javascript:void(0);">{{list2[i]}}</a></b>
            {{ list3[i] }}
            {{ list4[i] }}
            {{ list5[i]}}
            <p></p>
        {%endfor%}

        
        </ul>
    <script type='text/javascript'>
        {% for song in songs %} 
            $('b').click(function()
            {
                var str = $(this).text()
                $('audio').attr('src', '/static/music/' + str);
            });
        {% endfor %}
    </script>
        
    {% endblock %}
    {% block nav %}
    <li><a href="{{url_for('profile')}}">back to profile</a></li>
    <li><a href="{{url_for('index')}}">back to search music</a></li>
    {% endblock %}