
{% block body %}
<!DOCTYPE html>

    <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
        <h2>Music</h2>
        <p>Music:</p>
        <audio controls="controls" autoplay="autoplay"></audio>
        <ul>
         
        {% for song in songs %}
        {%for el in allsongs%}
            {%if song=="Central Cee - Commitment Issues.mp3"%}
                {%if el.id==1%}
                {{el.id}}
                {{". "}}
                <b><a href="javascript:void(0);">{{song}}</a></b>
                {{el.duration}}
                {{el.artist}}
                {{el.album}}
                {%endif%}
            {%endif%}
            {%if song=="central-cee-fraud.mp3"%}
                <p></p>
                {%if el.id==2%}
                {{el.id}}
                {{". "}}
                <b><a href="javascript:void(0);">{{song}}</a></b>
                {{el.duration}}
                {{el.artist}}
                {{el.album}}
                {%endif%}
            {%endif%}
        {%endfor%}
        {% endfor %}
        </ul>
        <script type='text/javascript'>
            {% for song in songs %} 
                $('b').click(function()
                {
                    var str = $(this).text()
                    $('audio').attr('src', '/static/music/' + str);
                });
            {% endfor %}
        </script>
        {%for el in allsongs  %}
            {{el.id}}
            {{el.name}}
            {{el.duration}}
            {{el.artist}}
            {{el.album}}
            <p></p>
        {%endfor%}
    {% endblock %}
    {% block nav %}
    <li><a href="{{url_for('profile')}}">back to profile</a></li>
    {% endblock %}